// start .sForm
.sForm {
	padding-top: calc(var(--sPT) / 1.7);
	padding-bottom: calc(var(--sPB) * 2.6);

	h2 {
		text-transform: uppercase;
		font-weight: bold;
		@extend .mono;
		letter-spacing: .115em;
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.85);
	}

	.form-wrap {
		max-width: rem(541px);
		margin-left: auto;
		margin-right: auto;

		&__input-wrap {
			position: relative;
			padding-bottom: rem(20);
			@include media-breakpoint-up(lg) {
				padding-bottom: rem(45.5);
			}
		}

		&__title {
			@extend .h3;
			@include media-breakpoint-up(lg) {
				// position: absolute;
				right: calc(100% + 30px);
				// white-space: nowrap;
				@include a-cent(y);
				// display: block;
				width: 100%;
				text-align: right;
				padding-top: rem(30);
			}
			@include media-breakpoint-down(lg) {
				display: block;
				margin-bottom: rem(10);
			}
		}

		&__textareaWrap {
			padding-bottom: 2px;
			.form-wrap__title {
				@include media-breakpoint-up(md) {
					padding-top: rem(17);
				}
			}

			.form-wrap__input {
				min-height: calc(1.5em + 10.8rem + 2px);
			}
		}



		&__btn {
			@extend .btn;
			@extend .btn-primary;
			min-width: 269px;
			font-size: $h2-font-size;
			text-align: center;
			padding-top: rem(23);
		}
	}

	@include media-breakpoint-up(xs) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xs) {} 

} // end.sForm