// start .sStudies
.sStudies {
	background-color: #f4f4f4;
	padding-top: calc(var(--sPT) * 1.8);
	padding-bottom: calc(var(--sPB) * 2.5);

	h2 {
		letter-spacing: 0.14em;
	}

	.section-title {
		padding-bottom: calc(var(--sTPB) * 1.85);
	}

	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		height: calc(100% - 30px);
		background-color: #fff;
		padding: rem(20);
		min-height: 150px;
		@include media-breakpoint-up(md) {
			min-height: 203px;
			padding: rem(67) rem(65);
		}
	}

	picture {
		margin-right: rem(45);
		flex-shrink: 0;
	}

	&__text {
		font-weight: 300;
		line-height: calc(26/15);
	}







	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) { }
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStudies