mixin sLinks(data)
	// start sLinks
	+b.SECTION.sLinks.section#sLinks&attributes(attributes)
		.container
			+b.section-title.text-center
				h2= data.title
				
			.row
				.col-sm-6.col-lg
					+e.link(href="#") Video UNIM with subtitles
				.col-sm-6.col-lg
					+e.link(href="#") Revolutionary cancer diagnosis lab opens at Skolkovo
				.col-sm-6.col-lg
					+e.link(href="#") Digital Pathology one-stop solution from specimen registration to report
				.col-sm-6.col-lg
					+e.link(href="#") Asian Entrepreneurship Award AEA&nbsp;2020
	// end sLinks

